*{
  margin:0;
  padding:0;
  background-color: white;
  color:black;
  /* box-sizing:border-box;
  outline : 1px solid greenyellow !important ; */

}
.image{
    height : 50vh;
    width : 19vw;
    object-fit: contain;
    margin-bottom:5vh;
    margin-top:10vh;
    margin-left:3vh;
    margin-right:3vh;
    justify-content: center;
    align-items: center;}
    
#track{
    display:flex;
    flex-wrap: wrap;
    padding:30px;
    margin:30px;
    margin-top: 0;
}
.phoneDiv{
    margin-top:50px;
    font-size: 11px;
}
.specs{
    margin:5px;
    margin-left: 30px;
}

#phoneExplanation{
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    top:0;
    display:none;
}

.phoneDisplay { 
    height : 50vh;
    width : 20vw;
    object-fit: contain;
    padding-bottom:20px;
    align-items: center;
    
}
.phoneName{
    padding-left:30px;
}

.phoneBrand{
    padding-left:30px;
    color: grey;
}
.searchBar{
    padding: 10px;
}
.toCompare{
    display: flex;
    padding-left: 31px;
    padding-bottom: 30px;
    
}
.label,#check{
    cursor: pointer;
}
.label h3{
    padding-left: 10px;
    font-size:small;
}

.label h3:hover{
    color: teal;
    font-weight: bold;
}
